
<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length==0 and villanos.length==0">
    <div class="col">
        <div>
            NO EXISTEN RESULTADOS CON EL TERMINO: {{ termino }}
        </div>
    </div>
</div>

<div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
    <app-heroe-tarjeta [villano]="villano" [index]="villano.i" *ngFor="let villano of villanos; let i = index"></app-heroe-tarjeta>
</div>