<h1 class="animated fadeIn">{{villano.nombre}} <small>{{villano.aparicion}}</small></h1>
<hr>
<div class="row animated fadeIn fast">

    <div class="col-4">
        <img [src]="villano.img" [alt]="villano.nombre">
        <br><br>
        <a [routerLink]="['/villanos']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-8">
        <h3>{{villano.nombre}}</h3>
        <hr>
        <button (click)="villano.nombre='...'" class="mr-1 btn btn-primary">Pipes</button>
        <p>
            {{villano.bio}}
        </p>
        <div>
            <img *ngIf="villano.casa == 'DC'" src="assets/img/dc-logo.jpg" alt="">
            <img *ngIf="villano.casa == 'Marvel'" src="assets/img/marvel-logo.png" alt="">
        </div>
    </div>
</div>